@model DevExpress.Razor.Models.Account
           
<div id="ContactContent">
    @Html.DevExpress().Label(editorSettings => {
        editorSettings.Text = "E-Mail:";
        editorSettings.AssociatedControlName = "Email";
    }).GetHtml()
    @Html.DevExpress().TextBox(editorSettings => {
        editorSettings.Name = "Email";
        editorSettings.ShowModelErrors = true;
        editorSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
        editorSettings.ControlStyle.CssClass = "editor";
    }).Bind(Model.Email).GetHtml()
    <hr />
    @Html.DevExpress().Label(editorSettings => {
        editorSettings.Text = "Zip-Code:";
        editorSettings.AssociatedControlName = "ZipCode";
    }).GetHtml()
    @Html.DevExpress().TextBox(editorSettings => {
        editorSettings.Name = "ZipCode";
        editorSettings.ShowModelErrors = true;
        editorSettings.ControlStyle.CssClass = "editor";
    }).Bind(Model.ZipCode).GetHtml()
    <hr />
    @Html.DevExpress().Button(buttonSettings => {
        buttonSettings.Name = "btnFinish;";
        buttonSettings.Text = "Finish";
        buttonSettings.ClientSideEvents.Click = "OnSubmitForm";
        buttonSettings.UseSubmitBehavior = false;
    }).GetHtml()
</div>