@model DevExpress.Razor.Models.Account

<div id="DateContent">
    @Html.DevExpress().Label(editorSettings => {
        editorSettings.Text = "Any Date:";
        editorSettings.AssociatedControlName = "AnyDate";
    }).GetHtml()
    @Html.DevExpress().DateEdit(editorSettings => {
        editorSettings.Name = "AnyDate";
        editorSettings.ShowModelErrors = true;
        editorSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).Bind(Model.AnyDate).GetHtml()
    <hr />
    @Html.DevExpress().Label(editorSettings => {
        editorSettings.Text = "States:";
        editorSettings.AssociatedControlName = "States";
    }).GetHtml()
    @Html.DevExpress().ComboBox(editorSettings => {
        editorSettings.Name = "States";
        editorSettings.ShowModelErrors = true;
        editorSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
        editorSettings.Properties.ValueType = typeof(string);
        editorSettings.Properties.Items.Add("Alaska", "Alaska");
        editorSettings.Properties.Items.Add("Indiana", "Indiana");
        editorSettings.Properties.Items.Add("Kentucky", "Kentucky");
        editorSettings.Properties.Items.Add("Minnesota", "Minnesota");
        editorSettings.Properties.Items.Add("Nevada", "Nevada");
    }).Bind(Model.States).GetHtml()
    <hr />
    @Html.DevExpress().Button(buttonSettings => {
        buttonSettings.Name = "btnGoToMoreTab;";
        buttonSettings.Text = "Next";
        buttonSettings.ClientSideEvents.Click = "OnClickNextButton";
    }).GetHtml()
</div>