@model DevExpress.Razor.Models.Account
      
<div id="PersonalContent">
    @Html.DevExpress().Label(editorSettings => {
        editorSettings.Text = "First Name:";
        editorSettings.AssociatedControlName = "FirstName";
    }).GetHtml()
    @Html.DevExpress().TextBox(editorSettings => {
        editorSettings.Name = "FirstName";
        editorSettings.ShowModelErrors = true;
        editorSettings.ControlStyle.CssClass = "editor";
        editorSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).Bind(Model.FirstName).GetHtml()
    <hr />
    @Html.DevExpress().Label(editorSettings => {
        editorSettings.Text = "Last Name:";
        editorSettings.AssociatedControlName = "LastName";
    }).GetHtml()
    @Html.DevExpress().TextBox(editorSettings => {
        editorSettings.Name = "LastName";
        editorSettings.ShowModelErrors = true;
        editorSettings.ControlStyle.CssClass = "editor";
        editorSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).Bind(Model.LastName).GetHtml()
    <hr />
    @Html.DevExpress().CheckBox(editorSettings => {
        editorSettings.Name = "IAgree";
        editorSettings.Text = "I agree";
        editorSettings.ShowModelErrors = true;
        editorSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).Bind(Model.IAgree).GetHtml()
    <hr />    
    @Html.DevExpress().Button(buttonSettings => {
        buttonSettings.Name = "btnGoToContactTab;";
        buttonSettings.Text = "Next";
        buttonSettings.ClientSideEvents.Click = "OnClickNextButton";
    }).GetHtml()
</div>